langchain-google-genai
protobuf
pypdf
numpy
pandas
PyYAML
openai
aiohttp
docx2txt
requests
tiktoken
langchain
python-dotenv
langchain-core
langchain-groq
pinecone-client
langchain-classic
langchain-pinecone
langchain-community
langchain-huggingface
langchain-experimental
langchain-text-splitters
